---
name: golangci-lint

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2

      - uses: actions/setup-go@v5.6.0
        with:
          go-version: '1.25'
          cache: false

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8.0.0
        with:
          version: "latest"
          args: "--timeout=30m --build-tags=server,client,aws"
